@import url(https://fonts.google.com/specimen/Ubuntu+Mono?lang=ru_Cyrl&categoryFilters=Feeling:%2FExpressive%2FCalm;Appearance:%2FMonospace%2FMonospace);
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Ubun Mono', monospace;
    background-color: #fdfcdc;
    color: #6a3b37;
    padding: 0px;
    margin: 0px;
}
header{
    width: 100%;
    background-color: #6a3b37;
    color: #fdfcdc;
    position: absolute;
    top: -10px;
    padding: 10px;
    margin: 0px;
    box-sizing: border-box;
}
ul {
    list-style-type: none;
    display: flex;
    margin-left: 15%;
    margin-top: 3px;
}
li {
    width: 20%;
    height: 40px;
    border-radius: 10px;
    text-align: center;
    box-sizing: border-box;
    padding-top: 8px;
    font-size: 20px;
}
li:hover{
    background-color: #699051;
    transition: 0.3s;
}
h1 {
    padding-left: 10px;
}
.header{
    display: flex;
    margin-top: 5px;
    margin-bottom: 5px;
}
header > .header  img{
    display: inline-block;
    margin-top: 5px;
    margin-right: 5px;
}
main{
    text-align: justify;
}
.s1 {
    font-weight: bolder;
}
.about img{
    margin-left: 20px;
    border-radius: 10px;
    margin-top: 10px;
}
hr {
    border: 0;
    clear:both;
    display:block;
    width: 100%;
    background-color:#6a3b37;
    height: 2px;
}
.card_grains{
    background-color: #699051;
    padding: 15px;
    box-sizing: border-box;
    border-radius: 10px;
    color: #fdfcdc;
}
.card_grains p{
    margin-top: 6px;
    margin-bottom: 10px;
}
.card_grains img{
    border-radius: 10px;
}
.for_cards{
    display: flex;
}
.card_grains h4{
    margin-top: 10px;
    margin-left: 37%;
    margin-bottom: 6px;
    font-size: 20px;
}
.card_drinks{
    background-color: #699051;
    padding: 10px;
    margin-bottom: 20px;
    margin-left: 15px;
    box-sizing: border-box;
    border-radius: 10px;
    color: #fdfcdc;
    text-align: center;
}
.card_drinks img{
    border-radius: 10px;
}
.card_drinks h4{
    margin-top: 5px;
}
.for_drinks{
    display: flex;
}
h2{
    margin-bottom: 8px;
}
.btn{
    text-align: center;
    background-color: #699051;
    color: #fdfcdc;
    border-radius: 6px;
    padding-top: 5px;
    box-sizing: border-box;
}
article{
    display: flex;
}
article > p{
    margin-top: 40px;
}
article > img{
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 20px;
}
.facts{
    display: block;
}
footer{
    text-align: center;
    background-color: #699051;
    color: #fdfcdc;
    padding-top: 10px;
    justify-content: space-evenly;
    padding-top: 40px;
}
.btn1{
    text-align: center;
    border-radius: 6px;
    padding-top: 5px;
    box-sizing: border-box;
    margin-bottom: 10px;
}
.btn2{
    text-align: center;
    color: #fdfcdc;
    border-radius: 6px;
    padding-top: 5px;
    box-sizing: border-box;
    margin-bottom: 10px;
}
.card_grains img:hover{
    transform: scale(1.05);
    transition: 0.9s;
}
.card_drinks img:hover{
    transform: scale(1.05);
    transition: 0.9s;
}
.btn:hover{
    background-color: #567442;
    transition: 0.7s;
}
.btn1:hover{
    background-color: #6a3b37;
    transition: 0.7s;
}
.btn2:hover{
    background-color: #6a3b37;
    transition: 0.7s;
}
a{
    text-decoration: none;
    color: #fdfcdc;
}

@media (min-width: 320px){
    body{
        font-size: 20px;
    }
    header{
        height: 166px;
    }
    h1{
        font-size: 26px;
    }
    header > .header  img{
        width: 80px;
        height: 80px;
        border-radius: 40px;
        margin-top: 32px;
        margin-right: 5px;
    }
    li {
        z-index: -1;
    }
    main{
        margin-top: 174px;
        width: 96%;
        margin-left: 2%;
        font-size: 20px;
    }
    .s1 {
        font-weight: bolder;
        font-size: 22px;
    }
    .about img{
        float: none;
        width: 80%;
        margin-left: 10%;
    }
    .right{
        float: none;
        margin-left: 0px;
        border-radius: 10px;
        margin-top: 14px;
        width: 100%;
    }
    .left{
        float: none;
        width: 100%;
        margin-right: 0px;
        border-radius: 10px;
        margin-top: 5px;
    }
    .card_grains{
        width: 90%;
        height: auto;
        padding: 5px;
        margin-left: 5%;
        font-size: 20px;
        margin-bottom: 15px;
    }
    .card_grains img{
        width: 90%;
        margin-left: 5%;
    }
    .for_cards{
        display: block;
    }
    .card_drinks{
        width: 90%;
        height: auto;
        padding: 10px;
        margin-left: 4%;
    }
    .card_drinks img{
        width: 94%;
        height: auto;
        border-radius: 20px;
    }
    .card_drinks h4{
        font-size: 24px;
        margin-bottom: 4px;
    }
    .for_drinks{
        display: block;
    }
    .btn{
        width: 60%;
        height: max-content;
        padding: 8px;
    }
    article{
        display: block;
        margin-bottom: 70px;
    }
    article > img{
        border-radius: 10px;
        margin-left: 5px;
        margin-right: 20px;
        width: 94%;
        height: auto;
    }
    footer{
        display: block;
        font-size: 20px;
        height: 140px;
        width: 100%;
    }
    .btn1{
        margin-left: 15%;
        width: 70%;
        height: 25%;
        padding-top: 6px;
        margin-bottom: 20px;
    }
    .btn2{
        margin-left: 15%;
        width: 70%;
        height: auto;
        padding-top: 3px;
    }
}
@media (min-width: 768px){
    header{
        height: 230px;
    }
    h1{
        font-size: 40px;
    }
    ul {
        margin-left: -18px;
        margin-top: 3px;
        z-index: 1;
    }
    li {
        width: 200px;
        height: 40px;
        font-size: 22px;
        z-index: 1;
    }
    header > .header  img{
        width: 84px;
        height: 84px;
        border-radius: 42px;
    }
    main{
        margin-top: 250px;
        width: 80%;
        margin-left: 10%;
        font-size: 30px;
    }
    .s1 {
        font-size: 32px;
    }
    .about img{
        float: right;
        width: 58%;
        margin-left: 10%;
    }
    .right{
        float: right;
        margin-left: 10px;
        border-radius: 10px;
        margin-top: 14px;
        width: 58%;
    }
    .left{
        float: left;
        width: 58%;
        margin-right: 10px;
        border-radius: 10px;
        margin-top: 5px;
    }
    .card_grains{
        width: 70%;
        height: auto;
        margin-left: 15%;
        font-size: 26px;
    }  
    .card_grains h4{
        font-size: 30px;
    }
    .card_drinks{
        width: 60%;
        margin-left: 20%;
    }
    footer{
        display: flex;
        font-size: 30px;
    }
    .btn1{
        width: 45%;
        height: max-content;
        margin-left: 5%;
        padding: 5px;
    }
    .btn2{
        width: 45%;
        height: max-content;
        margin-left: 5%;
        padding: 5px;
    }
    
}
@media (min-width: 1024px){
    h1{
        margin-top: 48px;
    }
    .s1{
        font-size: 25px;
    }
    main{
        width: 74%;
        margin-left: 13%;
        font-size: 23px;
    }
    .about > img {
        width: 40%;
    }
    .history > img {
        width: 44%;
    }
    .card_grains{
        width: 50%;
        margin-left: 2%;
        font-size: 22px;
    }
    .for_cards{
        display: flex;
    }
    .for_drinks{
        display: flex;
    }
    .card_drinks{
        width: 33%;
        height: auto;
        padding: 10px;
        margin-left: 1%;

    }
    footer{
        font-size: 24px;
    }
    .btn1{
        width: 47%;
        margin-left: 2%;
    }
}
@media (min-width: 1280px){
    header{
        height: 170px;
    }
    .header > h1 {
        margin-top: 20px;
    }
    ul{
        margin-left: 14%;
    }
    li {
        font-size: 22px;
    }

    header > .header  img{
        margin-top: 5px;
        margin-right: 5px;
    }
    main{
        margin-top: 180px;
        width: 72%;
        margin-left: 14%;
    }
    .about img{
        margin-left: 20px;
    }
    .card_grains{
        width: 47%;
        margin-left: 2%;
        height: auto;
        font-size: 18px;
    }
    .card_grains img{
        width: 76%;
        height: auto;
        margin-left: 12%;
    }
    .btn{
        width: 40%;
    }
    article{
        display: flex;
        margin-bottom: 30px;
    }
    article > p{
        margin-top: 10px;
    }
    article > img{
        width: 45%;
        height: auto;
    }
    .facts{
        display: block;
    }
    footer{
        padding-top: 10px;
        font-size: 20px;
        height: 80px;
    }
    .btn1{
        width: 190px;
        height: 40px;
    }
    .btn2{
        width: 300px;
        height: 40px;
    }
}
@media (min-width: 1600px){
    li {
        width: 20%;
        height: 40px;
    }
    main{
        width: 66%;
        margin-left: 17%;
        font-size: 25px;
    }
    .s1 {
        font-size: 28px;
    }
    .about img{
        width: 300px;
    }
    .right{
        width: 34%;
        height: auto;
    }
    .left{
        width: 34%;
        height: auto;
    }
    .card_grains{
        width: 47%;
        height: auto;
        padding: 1%;
        margin-left: 2%;
        font-size: 25px;
    }
    .card_grains img{
        width: 62%;
        height: auto;
        margin-left: 18%;
    }
    .card_drinks{
        width: 30%;
        height: auto;
        margin-left: 3%;
    }
    .card_drinks img{
        width: 260px;
        height: 260px;
    }
    .card_drinks h4{
        font-size: 26px;
    }
    .btn{
        width: 30%;
        height: 50px;
        padding-top: 6px;
    }
    article  p{
        margin-top: 10px;
    }
    article > img{
        width: 380px;
        height: 250px;
        border-radius: 10px;
        margin-left: 10px;
        margin-right: 20px;
    }
    .btn1{
        width: 35%;
        font-size: 26px;
    }
    .btn2{
        width: 35%;
        font-size: 26px;
    }
}
